html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#logsTable td, #logsTable th {
    padding: 0.3rem; /* Standard table-sm is usually 0.5rem */
    font-size: 0.85rem; /* Reduces font size slightly */
}

#logsTable {
    border-style: solid;
}