@model Auth.Models.ApplicationUser

@{
    ViewData["Title"] = "Reset Password";
}

<h1 style="text-align: center;">Reset Password</h1>
<hr />

<div class="row justify-content-center">
    <div class="col-md-4">

        <form method="post" asp-action="ResetPassword">
            <div asp-validation-summary="All" class="text-danger"></div>

            <input type="hidden" name="UserId" value="@ViewData["UserId"]" />
            <input type="hidden" name="Token" value="@ViewData["Token"]" />
            <input type="hidden" name="IsRecovery" value="@ViewData["IsRecovery"]?.ToString().ToLower()" />

            <div class="form-group mb-3">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="ConfirmNewPassword"></label>
                <input asp-for="ConfirmNewPassword" class="form-control" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary mt-3">Reset</button>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}